@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes slide {
  0% { transform: translateX(0); }
  100% { transform: translateX(-100%); }
}

.twinkle-bg {
  background-image: 
    radial-gradient(white 1px, transparent 1px), 
    radial-gradient(white 1px, transparent 1px);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
  animation: twinkle 2s infinite ease-in-out;
  opacity: 0.2;
  z-index: 0;
  position: absolute;
  inset: 0;
  pointer-events: none;
}

@keyframes twinkle {
  0%, 100% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.3;
  }
}
@keyframes fadeIn {
  from { opacity: 0; transform: translateY(-5px); }
  to { opacity: 1; transform: translateY(0); }
}

.animate-fadeIn {
  animation-name: fadeIn;
  animation-fill-mode: forwards;
}

.scrollbar-thin {
  scrollbar-width: thin;
}

.scrollbar-thumb-gray-400::-webkit-scrollbar-thumb {
  background-color: #9ca3af; /* gray-400 */
  border-radius: 10px;
}

.scrollbar-track-transparent::-webkit-scrollbar-track {
  background: transparent;
}

.scrollbar-thumb-gray-400::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
