@import "tailwindcss";
/* index.css */

  .twinkle-bg {
  background: transparent;
  background-image:
    radial-gradient(white 1px, transparent 1px),
    radial-gradient(white 1px, transparent 1px);
  background-size: 40px 40px;
  background-position: 0 0, 20px 20px;
  animation: twinkle 2s infinite ease-in-out;
  opacity: 0.2;
  z-index: 0;
  position: absolute;
  inset: 0;
  pointer-events: none;
}

@keyframes twinkle {
  0%, 100% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.3;
  }
}
